<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="org.trianglepoint.post.mapper.PostMapper">
  <sql id="searchCondition">
    <trim prefix="(" suffix=") AND" suffixOverrides="OR">
	  <!-- call getTypeArr() -->
	  <foreach collection="typeArr" item="type">
	    <trim suffix="OR">
	      <choose>
	        <when test="type == 'T'.toString()">
	          title like '%'||#{keyword}||'%'
	        </when>
	        <when test="type == 'X'.toString()">
	          text like '%'||#{keyword}||'%'
	        </when>
	        <when test="type == 'W'.toString()">
	          writer like '%'||#{keyword}||'%'
	        </when>
	      </choose>
	    </trim>
	  </foreach>
	</trim>
  </sql>

  <insert id="insert">
    insert into tbl_post (pono, title, text, writer)
    values (seq_post.nextval, #{title}, #{text}, #{writer})
  </insert>
  
  <select id="get" resultType="org.trianglepoint.post.domain.PostVO">
    select * from tbl_post where pono = #{pono}
  </select>
  
  <select id="getList" resultType="org.trianglepoint.post.domain.PostVO">
    select /*+ INDEX_DESC(tbl_post pk_post) */ * from tbl_post
  </select>
  
  <select id="getListWithPaging" resultType="org.trianglepoint.post.domain.PostVO">
    select pono, title, text, writer, regdate, updatedate
	from(
	  select /*+ INDEX_DESC (tbl_post pk_post) */
	    rownum rn, pono, title, text, writer, regdate, updatedate
	  from 
	    tbl_post
	  where
	  <include refid="searchCondition"></include>
  <![CDATA[
	    rownum <= #{pageNum} * #{amount}
	)
	where
	  rn > (#{pageNum} -1) * #{amount}
  ]]>
  </select>
  
  <update id="update">
    update tbl_post set
    title = #{title},
    text = #{text},
    writer = #{writer},
    updateDate = sysdate 
    where pono = #{pono}
  </update>
  
  <delete id="delete">
    delete tbl_post where pono = #{pono}
  </delete>
  
  <select id="getTotal" resultType="int">
    select count(*) from tbl_post
    <where>
      <trim suffixOverrides="AND">
        <include refid="searchCondition"></include>
      </trim>
    </where>
  </select>
</mapper>